body{
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

/* container of the button */
.container{
    position:relative;
    padding: 0;
    width: 100px;
    top:400px;
}

.heading{
    font-weight: 500;;
    width: 500px;
    top:350px;
}